@font-face
{
  font-family: Lato;
  src: url(Lato-Regular.woff);
}

html
{
    background: #7b7775;
}

body
{
    font-size:15px;
    font-family: Lato, Verdana, Arial, sans-serif;
    color:#484645;
    margin:0;
    line-height:1.7;
}

header img
{
    display: none;
}

article
{
    width:90%;
    margin: 5px auto;
    background-color: white;
}

/* Navigation bar for Desktop version */

.navigation
{
	margin: 5px 20px;
	background: #fff;
	overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 90%;

	box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.navigation li
{
	width: 130px; border-left: 5px solid #666;
	float: left;
	cursor: pointer;
	list-style-type: none;

	padding: 10px 50px 10px 15px;

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.navigation li h2
{
	font-family: Lato, georgia;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 16px;
}

.navigation li p
{
	font-size: 11px;
	color: #999;

	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}

.navigation li:hover
{
	background: #333;
	border-left: 5px solid #000;
}

.navigation li:hover h2
{
	font-weight: bold;
	color: #fff;
}

.navigation li:hover p
{
	color: #ccc;
	padding-left: 5px;
}

.navigation .just-line:hover
{
	background: #fff;
	border-left: 5px solid #000;
    cursor: auto;
}


.title-top
{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

article
{
    padding : 10px 40px;
    box-sizing: border-box;
    margin-top: 10px;
    border-bottom: 5px solid #c00000;
    min-height: 200px;
}

.article2 *{margin: 0; padding: 0;}

.article2
{
    margin: 20px;
}

.article2-list
{
    display: flex;
    overflow: hidden;
    list-style-type: none;
}

.article2-list a {
  flex-basis: 50%;
}

.article2-notice
{
    font-size: 18px;
    font-family: Lato, 'Handlee';
}

.article2-picture
{
    float: left;
    margin: 0 15px 0 0;
}

.article2-small-text
{
    font-size: 14px;
    font-family: Lato, 'Handlee';

}

.article2-publish
{
    padding: 10px;
    overflow: auto;
}

.article2-publish:hover
{
    background: #eee;
    cursor: pointer;
}

a
{
    color: black;
    text-decoration: none;
}

.creators *{margin: 0; padding: 0;}

.creators
{
    margin: 10px;
}

.creators-list
{
    list-style-type: none;
    width: 100%;
    display: inline-block;
}

.creators-notice
{
    font-size: 19px;
    font-family: Lato, 'Handlee';
}

.creators-picture
{
    float: left;
    margin: 0 15px 0 0;
    border-radius: 19%;
}

.creators-small-text
{
    font-size: 14px;
    font-family: Lato, 'Handlee';

}

.creators-publish
{
    padding: 10px;
    overflow: auto;
    display: inline-block;
    margin: 5px;
    float: left;
    width: 30%;
}

.creators-publish:hover
{
    background: #eee;
    cursor: pointer;
}

.login
{
    margin: 20px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
}

h1.login-title
{
    margin: -28px -25px 25px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align:center;
    background: #f7f7f7;
}

.login-input
{
    width: 285px;
    height: 50px;
    margin-bottom: 25px;
    padding-left:10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=date]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    display: none;
}

.login-input:focus
{
    border-color:#6e8095;
    outline: none;
}

.login-button
{
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #f0776c;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline:0;
}

.login-lost
{
    text-align:center;
    margin-bottom:0px;
}

.login-lost a
{
    color:#666;
    text-decoration:none;
    font-size:13px;
}

.footer
{
    position: fixed;
    bottom: 0px;
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 11px sans-serif;
	padding: 5px 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right
{
	display: inline-block;
	vertical-align: top;
}

.footer .footer-left
{
	width: 38%;
}

.footer .footer-company-name
{
	color:  #8f9296;
	font-size: 25px;
	font-weight: normal;
	margin: 20;
    margin-top: 40px;
}

.footer .footer-center
{
    margin-top: 30px;
	  width: 35%;
    margin-left: -90px;
}

.footer .footer-center i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope
{
	font-size: 18px;
	line-height: 28px;
}

.footer .footer-center p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
    font-size: 13px;
}

.footer .footer-center p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a
{
	color:  #5383d3;
	text-decoration: none;;
}

.footer .footer-right{
  margin-top: 25px;
	width: 30%;
}

.footer .footer-company-about
{

	line-height: 15px;
	color:  #92999f;
	font-size: 12px;
	font-weight: normal;
	margin: 10;
}


.footer .footer-company-about span
{
	display: block;
	color:  #ffffff;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 14px;
}

.footer .footer-icons
{
	margin-top: -22px;
}

.footer .footer-icons a
{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 15%;
	margin-bottom: 5px;
}

.fa
{
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
}

.fa:hover
{
    opacity: 0.7;
}

.fa-github
{
    color: white;
}

.topnav
{
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
}

.topnav #myLinks
{
    display: none;
}

.topnav a
{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon
{
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active
{
    background-color: #4CAF50;
    color: white;
}


@media only screen and (max-width: 600px)
{

    html
    {
        background: #7b7775;
    }

    body
    {
        font-size: 9px;
        font-family: Lato, Verdana, Arial, sans-serif;
        color:#484645;
        margin:0;
        line-height:1.7;
    }

    header img
    {
        margin: 10px 10px 10px 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    header, article
    {
        width:100%;
        margin: 0px auto;
        background-color: white;
    }

    .navigation
    {
        margin: 5px 20px;
        background: #fff;
        overflow: hidden;
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
    }

    .navigation li
    {
        width: 130px; border-left: 5px solid #666;
        float: left;
        cursor: pointer;
        list-style-type: none;

        padding: 10px 50px 10px 15px;

        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
    }

    .navigation li h2
    {
        font-family: Lato, georgia;
        font-weight: normal;
        font-style: italic;
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 16px;
    }

    .navigation li p
    {
        font-size: 11px;
        color: #999;

        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
    }

    .navigation li:hover
    {
        background: #333;
        border-left: 5px solid #000;
    }

    .navigation li:hover h2
    {
        font-weight: bold;
        color: #fff;
    }

    .navigation li:hover p
    {
        color: #ccc;
        padding-left: 5px;
    }

    .navigation .just-line:hover
    {
        background: #fff;
        border-left: 5px solid #000;
        cursor: auto;
    }

    .title-top
    {
        color: white;
        margin-left: 6%;
        margin-right: 6%;
        font-size: 1.8em;
    }

    article
    {
        padding : 10px 10px;
        box-sizing: border-box;
        margin-top: 0px;
        border-bottom: 5px solid #c00000;
        min-height: 200px;

    }

    .article2 *{margin: 0; padding: 0;}

    .article2
    {
        margin: 10px;
    }

    .article2-list
    {
        list-style-type: none;
        width: inherit;
        display: block;
    }

    .article2-notice
    {
        font-size: 18px;
        font-family: Lato, 'Handlee';
    }

    .article2-picture
    {
        float: left;
        margin: 0 15px 0 0;
    }

    .article2-small-text
    {
        font-size: 14px;
        font-family: Lato, 'Handlee';

    }

    .article2-publish
    {
        padding: 10px;
        overflow: auto;
    }

    .article2-publish:hover
    {
        background: #eee;
        cursor: pointer;
    }

    a
    {
        color: black;
        text-decoration: none;
    }

    .creators *{margin: 0; padding: 0;}

    .creators
    {
        margin: 10px;
    }

    .creators-list
    {
        list-style-type: none;
        width: 100%;
        display: inline-block;
    }

    .creators-notice
    {
        font-size: 19px;
        font-family: Lato, 'Handlee';
        margin-top: 5px;
    }


    .creators-picture
    {
        float: left;
        width: 20%;
        margin: 0 15px 0 0;
        border-radius: 19%;
    }

    .creators-small-text
    {
        font-size: 14px;
        font-family: Lato, 'Handlee';
    }

    .creators-publish
    {
        padding: 10px;
        overflow: none;
        display: block;
        margin: 5px;
        float: left;
        width: 100%;
    }

    .login
    {
        margin: 20px auto;
        width: 300px;
        padding: 30px 25px;
        background: white;
        border: 1px solid #c4c4c4;
    }

    h1.login-title
    {
        margin: -28px -25px 25px;
        padding: 15px 25px;
        line-height: 30px;
        font-size: 25px;
        font-weight: 300;
        color: #ADADAD;
        text-align:center;
        background: #f7f7f7;
    }

    .login-input
    {
        width: 285px;
        height: 50px;
        margin-bottom: 25px;
        padding-left:10px;
        font-size: 15px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type=date]::-webkit-inner-spin-button
    {
        -webkit-appearance: none;
        display: none;
    }

    .login-input:focus
    {
        border-color:#6e8095;
        outline: none;
    }

    .login-button
    {
        width: 100%;
        height: 50px;
        padding: 0;
        font-size: 20px;
        color: #fff;
        text-align: center;
        background: #f0776c;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        outline:0;
    }

    .login-lost
    {
        text-align:center;
        margin-bottom:0px;
    }

    .login-lost a
    {
        color:#666;
        text-decoration:none;
        font-size:13px;
    }

    .fa
    {
        padding: 15px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 30%;
    }

    .fa:hover
    {
        opacity: 0.7;
    }

    .fa-github
    {
        color: white;
    }

    .topnav
    {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: block;
    }

    .topnav #myLinks
    {
        display: none;
    }

    .topnav a
    {
        color: white;
        padding: 14px 12px;
        text-decoration: none;
        font-size: 18px;
        display: block;
    }

    .topnav a.icon
    {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: inherit;
    }

    .active
    {
        background-color: #a0d6b4;
        color: white;
    }

    .footer
    {
        position: relative;
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-right
    {
		display: block;
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}

	.footer .footer-company-about
    {
        line-height: 15px;
        color:  #92999f;
        font-size: 11px;
        font-weight: normal;
        margin: 10;
    }

    .footer .footer-center
    {
        display: none;
    }

    .footer .footer-center i
    {
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        margin: 10px 15px;
        vertical-align: middle;
    }

    .checkbox-registration
    {
        font-size: 20px;
    }

}
