@font-face
{
  font-family: Lato;
  src: url(Lato-Regular.woff);
}

html
{
    background: #7b7775;
}

body
{
    font-size: 15px;
    font-family: Lato, Verdana, Arial, sans-serif;
    color:#484645;
    margin:0;
    line-height:1.7;
}

article
{
    width:90%;
    margin: 5px auto;
    background-color: white;
}

/* Navigation bar for Desktop version */
.navigation
{
	margin: 5px 20px;
	background: #fff;
	overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 90%;

	box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.navigation li
{
	width: 130px; border-left: 5px solid #666;
	float: left;
	cursor: pointer;
	list-style-type: none;

	padding: 10px 50px 10px 15px;

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.navigation li h2
{
	font-family: Lato, georgia;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 16px;
}

.navigation li p
{
	font-size: 11px;
	color: #999;

	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}

.navigation li:hover
{
	background: #333;
	border-left: 5px solid #000;
}

.navigation li:hover h2
{
	font-weight: bold;
	color: #fff;
}

.navigation li:hover p
{
	color: #ccc;
	padding-left: 5px;
}

.navigation .just-line:hover
{
	background: #fff;
	border-left: 5px solid #000;
    cursor: auto;
}

a
{
    color: black;
    text-decoration: none;
}

.topnav
{
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
}

.topnav #myLinks
{
    display: none;
}

.topnav a
{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon
{
    text-align: center;
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active
{
    background-color: #4CAF50;
    color: white;
}

article
{
    padding : 10px 40px;
    box-sizing: border-box;
    margin-top: 10px;
    border-bottom: 5px solid #c00000;
    min-height: 200px;
}

progress
{
    width: 60%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
    font-family: Lato, 'Handlee';
    font-size: 13pt;
}

progress::-webkit-progress-bar
{
    background: #efefef;
}
progress::-webkit-progress-value
{
    background: #3fb6b2;
}
progress::-moz-progress-bar
{
    color: #3fb6b2;
    background: #efefef;
}

.skills
{
    font-family: Lato, 'Handlee';
    font-size: 13pt;
}

.title
{
    font-family: Lato, 'Arial';
    font-size: 20pt;
}

.subtitle
{
    font-size: 14pt;
}

.founder
{
    border-radius: 10px;
    border: 1px;
    float: right;
    vertical-align: middle;
}

.brief-info
{
    width: 70%;
}

.list
{
    list-style-type: none;
    list-style-type: decimal !ie;

    margin: 0;
    margin-left: 1em;
    padding: 0;

    counter-reset: li-counter;
    width: 50%;
}

.article-achivements
{
    position: relative;
    margin-bottom: 1.5em;
    padding: 1.5em;
    background-color: #eaeaea;
}
.article-achivements:before
{
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;

    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: #464646;
    background-color: #d0d0d0;

    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);

    content: counter(li-counter);
    counter-increment: li-counter;
}

.list li:hover
{
    background: #eeb;
    cursor: pointer;
}

a
{
    text-decoration: none;
}

.email-fa
{
    display: inline;
}

@media only screen and (max-width: 600px)
{

    .navigation
    {
        margin: 5px 20px;
        background: #fff;
        overflow: hidden;
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
    }

    .navigation li
    {
        width: 130px; border-left: 5px solid #666;
        float: left;
        cursor: pointer;
        list-style-type: none;

        padding: 10px 50px 10px 15px;

        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
    }

    .navigation li h2
    {
        font-family: Lato, georgia;
        font-weight: normal;
        font-style: italic;
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 16px;
    }

    .navigation li p
    {
        font-size: 11px;
        color: #999;

        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
    }

    .navigation li:hover
    {
        background: #333;
        border-left: 5px solid #000;
    }

    .navigation li:hover h2
    {
        font-weight: bold;
        color: #fff;
    }

    .navigation li:hover p
    {
        color: #ccc;
        padding-left: 5px;
    }

    .navigation :hover
    {
        background: #fff;
        border-left: 5px solid #000;
        cursor: auto;
    }

    .topnav
    {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: block;
    }

    .topnav #myLinks
    {
        display: none;
    }

    .topnav a
    {
        color: white;
        padding: 14px 12px;
        text-decoration: none;
        font-size: 18px;
        display: block;
    }

    .topnav a.icon
    {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 11.5%;
    }

    .active
    {
        background-color: #a0d6b4;
        color: white;
    }

    article
    {
        padding : 10px 40px;
        box-sizing: border-box;
        margin-top: 10px;
        border-bottom: 5px solid #c00000;
        min-height: inherit;
        width: 97%;
    }

    progress
    {
        width: 100%;
        height: 20px;
        color: #3fb6b2;
        background: #efefef;
        font-family: Lato, 'Handlee';
        font-size: 13px;
    }

    progress::-webkit-progress-bar
    {
        background: #efefef;
    }
    progress::-webkit-progress-value
    {
        background: #3fb6b2;
    }
    progress::-moz-progress-bar
    {
        color: #3fb6b2;
        background: #efefef;
    }

    .skills
    {
        font-family: Lato, 'Handlee';
        font-size: 13pt;
        margin-left: -10%;
    }

    .title
    {
        font-family: Lato, 'Arial';
        font-size: 20pt;
    }

    .subtitle
    {
        font-size: 13pt;
    }

    .founder
    {
        border-radius: 10px;
        border: 1px;
        width: 35%;
        float: right;
        vertical-align: middle;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .brief-info
    {
        width: 100%;
    }

    .list
    {
        list-style-type: none;
        list-style-type: decimal !ie;

        margin: 0;
        margin-left: 0em;
        padding: 0;

        counter-reset: li-counter;

        width: 100%;
    }
    .article-achivements
    {
        position: relative;
        margin-bottom: 1.5em;
        padding: 1.5em;
        background-color: #eaeaea;
    }

    a
    {
        text-decoration: none;
    }

    .email-fa
    {
        display: inline;
        font-size: 16pt;
    }

}
